
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover,
.carousel-indicators .active {
       background-color: #e41b17;
}



.navbar-inverse .navbar-nav > li > a,
.dropdown-menu > li > a,
.team span,
.sub span,
.glyphicon-chevron-left:before ,
.glyphicon-chevron-right:before,
.navbar-inverse .navbar-brand,
.carousel-caption,
.sec h1 span,
.sec h2 span,
.sec2 .glyphicon,
.sec2 .glyphicon,
.service span,
.team .person h3,
.stat h1 span,
.skills span,
.skills h3, .contact span ,.footer span , .footer i:hover,
.sec2 h1 ,
.test strong,
.test span ,
.sec2 span,.over span,
.stat i {
        color: #e41b17;
}

.navbar-nav > li > .dropdown-menu{
        border-top: 2px solid #e41b17;
}

.dropdown-menu .divider {
    background: #e41b17
}




.test .carousel-indicators .active {
        border: 3px solid #e41b17;
}

.service .box p,
.option .color,
.option i{
        border: 2px solid #e41b17;
}

.option i,
.scroll{
    background: #e41b17;
    color: #fff
}
